<!DOCTYPE html>
<html>
<head>
    <title>Plex Media</title>
</head>
<body>
    <h1>Plex Media</h1>
    <form method="POST" action="/">
        <input type="text" name="labelString" placeholder="Enter Label (Ex: Archer)" required>
	<input type="text" name="magnetString" placeholder="Enter a magnet link string" required>
        <button type="submit">Submit</button>
    </form>
    <ul>
        {% for subdirectory in subdirectories %}
            <li><a href="{{ subdirectory }}">{{ subdirectory }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
